body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.history-container {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.history-tag {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.history-tag:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

td.color-cell {
    width: 50px;
    height: 20px;
    border: 1px solid #000;
}

.color-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%; /* Скругленный квадрат */
    border: 1px solid #000;
    vertical-align: middle;
}